:root {
  --vp-c-brand-1: #4f46e5;
  --vp-c-brand-2: #4338ca;
  --vp-c-brand-3: #6366f1;
  --vp-c-brand-soft: #e0e7ff;
}

.dark {
  --vp-c-brand-1: #818cf8;
  --vp-c-brand-2: #6366f1;
  --vp-c-brand-3: #4f46e5;
  --vp-c-brand-soft: #1e1b4b;
}
